.wrapper {
  position: relative;
}

.listHeader {
  color: #7e829e;
  font-size: 12px;
  background-color: #191f28;
  border: 0.5px solid #313449;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  column-gap: 24px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.list {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  // background: linear-gradient(180deg, #6a11cb, #2575fc);
  background-color: #313449;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: #191f28;
  border: none;
}
