// focus: "#3F4650",

// fiol: "#a78bfa",

$white: #fff;
$green: #5fe992;
$bg-color: #191f28;
$bg-dark: #15161b;
$bg-hover: #212832;
$red: #f87171;
$blue: #60a5fa;
$text-secondary: #7e829e;

$border: 0.5px solid #313449;
$border-color: #313449;
