.imgWrapper {
  width: 56px;
  height: 56px;
  border-radius: 6px;
  overflow: hidden;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  grid-row: span 2;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease-in-out;
}
.tokenCard {
  padding: 15px;
  background-color: #191f28;
  border: 0.5px solid #313449;
  border-right: none;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 280px 1fr 1fr;
  cursor: pointer;
  &:hover {
    background-color: #212832;
  }
}

.tokenInfo {
  display: flex;
}

.tokenTitle,
.tokenSubtitle {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.tokenSubtitle {
  margin-left: 10px;
  color: #7e829e;
  transition: 0.4s;
  &:hover {
    color: #5fe992;
  }
}

.subText {
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenDescr {
  max-width: 200px;
  color: #7e829e;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyIcon {
  margin-left: 5px;
}

.liq {
  font-size: 14px;
  align-self: center;
}
