.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
}

.confirm {
  background-color: $blue;
}

.cancel {
  background-color: $bg-dark;
}
