.walletDisplayTriggerContainer {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #191f28;
  gap: 8px;
  &:hover {
    background-color: #212832;
  }
}

.solDisplay {
  display: flex;
  gap: 4px;
  align-items: center;
  &::after {
    content: "";
    width: 0.5px;
    height: 18px;
    background-color: #313449;
    margin-left: 8px;
    margin-top: 2px;
  }
}

.usdcDisplay {
  display: flex;
  gap: 4px;
  align-items: center;
}
