.favorites {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: $bg-hover;
  }
}
