.profileIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191f28;
  cursor: pointer;
  &:hover {
    background-color: #212832;
  }
}

.profileContent {
  padding: 4px;
}

.profileContentItem {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
  border-radius: 4px;
  &:hover {
    background-color: #212832;
  }
}

.logout {
  color: #f87171;
}
