.container {
  position: relative;
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 20;
  pointer-events: none;
  transition: 0.3s;
}

.openOverlay {
  opacity: 1;
  pointer-events: all;
}

.content {
  position: absolute;
  border: $border;
  z-index: 1000;
  right: -1px;
  top: 40px;
  white-space: nowrap;
  border-radius: 4px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  background-color: $bg-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  display: flex;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.trigger {
  cursor: pointer;
}
